h6 {
  font-size: 8pt;
  opacity: 0.5;
  color: gray;
  text-align: center;
  margin-top: 24px;
}

body {
  background-image: url("http://www.hallwines.com/media/wysiwyg/hall/vineyards/Vineyard_BBS_1515_768px.jpg");
  background-size: cover;
}

.jumbotron {
  padding-top: 0px;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  height: 100vh;
  background-color: rgba(210, 200, 220, 0.90) !important;
  border-radius: 14px;
}

#mainHeader {
  font-family: 'Dancing Script', cursive;
  font-size: 52pt;
  color: #a142f4;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#homeButton {
  font-family: 'Dancing Script', cursive;
  color: #a142f4;
  text-align: center;
  text-shadow: 2px 2px #000000;
  font-size: 24pt;
}

/*
#mainHeader {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 64px;
}

#homeButton {
  text-align: center;
}

#homeButton :hover {
  cursor: pointer;
}

#contentHome {
  height: 148px;
}

#contentReview {
  height: 148px;
}

#content {
  height: 148px;
}

#titleSubmit {
  margin-top: 12px;
}

.jumbotron {
  margin-top: 16px;
}

#logo {
  height: 60px;
  width: auto;
}

.item {
  position: relative;
  border: 1px solid #333;

  overflow: hidden;
  width: 100vh;
}
.item img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/
