<h1>Client List</h1>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.getId()">$client.getClientName()</a></li>
    #end
  </ul>
#else
  <p>No clients!</p>
#end

<a href="/clients/new">Add a new client</a>
