<h1>$stylist.getStylistName()</h1>
<h2>$stylist.getBio()</h2>

<h3>Clients:</h3>

<ul>
  #foreach($client in $stylist.getClients())
   <li>$client.getClientName()</li>
  #end
</ul>

<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
</br>
<a href="/stylists">All stylists</a>
