<h1>Success!</h1>

$client.getClientName has been added to $stylist.getStylistName().

<a href="/movies">View all stylists</a>

<br>

<a href="/stylists/$stylist.getId()">Return to $stylist.getStylistName()</a>
